@import "tailwindcss";
@theme {
  --font-family-pretendard: "Pretendard Variable", "Pretendard";
  --color-green-primary: "#349443";
  --color-red-primary: "#d31c3b";
  --color-yellow-primary: "#f4cb1c";
}

/* 기본 폰트 설정 */
@layer base {
  html {
    font-family: var(--font-family-pretendard);
  }

  body {
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
